@import 'reset.css';
* {
    box-sizing: border-box;
}

html{
    background: rgb(82, 86, 89);
    color: black;  
    font-family: "Roboto",sans-serif,"Helvetica Neue",Arial,BlinkMacSystemFont,-apple-system,system-ui;
    font-size: 10px

}
body {
    background: white;
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    padding: 2%;
    font-size: 1.4rem;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0; 
}

h1 {
    font-size: 2.89rem;
}

h2 {
    font-size: 2.73rem;
}

h3 {
    font-size: 2.57rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2.23rem;
}
h6 {
    font-size: 2.07rem;
}
/* .resume {
    background: white;
    width: 8.5in;
    height: 11in;
    border: 1px solid black;
    margin: 0 auto;
    padding: 5%;
} */
.name {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}

@media print{

}